@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Public Sans";
    src: url("./assets/thirdparty/PublicSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("./assets/thirdparty/PublicSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}


.standard {
  @apply
    bg-black/50
    w-full max-w-6xl
    pt-6 sm:pt-10 md:pt-14 lg:pt-20 xl:pt-24 2xl:pt-28
    px-6 sm:px-12 md:px-20 lg:px-24 xl:px-36 2xl:px-44
  ;
}

.skill-card {
  @apply
    bg-zinc-700/60
    backdrop-blur-lg
    flex flex-col
    rounded-lg md:rounded-md
    w-full h-full
    overflow-x-hidden
  ;
}

.work-preview {
  @apply
    transition-all duration-1000
    aspect-square overflow-clip
    rounded-lg md:rounded-md hover:rounded-full
  ;
}

.work-card {
  @apply
    bg-zinc-700/70
    backdrop-blur-lg
    flex flex-col md:flex-row
    rounded-lg md:rounded-md
    overflow-x-hidden
    mt-6
  ;
}

.work-desc {
  @apply flex flex-col text-base p-5;
}

.work-smalltext {
  @apply text-xs md:text-sm pt-5 mt-auto
}

.text-heading {
  @apply
    text-violet-500
    font-extrabold
    text-4xl md:text-5xl lg:text-6xl
  ;
}

.text-skill-card-heading {
  @apply
    text-violet-500
    font-extrabold
    text-xl md:text-2xl lg:text-3xl
    scroll-mt-4 sm:scroll-mt-6 md:scroll-mt-10 lg:scroll-mt-14 xl:scroll-mt-20 2xl:scroll-mt-24
  ;
}

.text-work-card-heading {
  @apply
    text-violet-500
    font-extrabold
    text-2xl md:text-3xl lg:text-4xl
    scroll-mt-4 sm:scroll-mt-6 md:scroll-mt-10 lg:scroll-mt-14 xl:scroll-mt-20 2xl:scroll-mt-24
  ;
}

.text-normal {
  @apply md:text-lg;
}

.text-small {
  @apply text-xs sm:text-sm;
}

.hovertext {
  @apply hover:text-violet-300;
}
